/**
 * Style for the game app
 */

.hidden {
    display: none;
}

.creation-container {
    margin-top: 10px;
}

/* the view for a System */
.button-system-view {
    display: inline;
}

.button-system-view button {
    margin: 20px;
    padding: 10px;
}

.system-row {
    padding-top: 4px;
}
.system-edit-container .row {
    padding-top: 4px;
}

.game-name {
    background-color: #eee;
    font-weight: bold;
}

/* The view for a Game */
.game-row {
    padding-top: 4px;
    border-top: 1px solid black;
}

/* Input */
input, select, option {
    color: black;
}
textarea {
    width: 100%;
}