<%
    function systemDropdown() {
	var out = "<select name='system' class='form-control'>";
	app.data.systems.each(function(system) {
	    var name = system.get('company') + ' ' + system.get('name');
	    out += "<option value=" + system.get('id') + ">" + name + "</option>";
	});
	out += "</select>";
	return out;
    }

   function checked(x) {
     if( x==1 ) { return " checked='checked'"; }
     return "";
   }
%>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <form method="post" action="/games/<%- id %>" method="PUT" class="form-edit-game">
      <div class="form-group">
	<label>Name <input type="text" name="name" class="form-control" value="<%- name %>"></label>
      </div>
      <div class="form-group">
        <label>System <%= systemDropdown() %></label>
      </div>
      <div class="form-group">
	<label for="comments-game-<%- id %>">Comments</label>
	<textarea name="comment" class="form-control" id="comments-game-<%- id %>"><%- comment %></textarea>
      </div>
      <div class="form-group"><label> <input type="checkbox" name="is_complete" <%= checked(is_complete) %>> Is Complete  </label></div>
      <div class="form-group"><label> <input type="checkbox" name="has_case" <%= checked(has_case) %>> Has Case  </label></div>
      <div class="form-group"><label> <input type="checkbox" name="has_docs" <%= checked(has_docs) %>> Has Documents/Manual  </label></div>
      <div class="form-group"><label> <input type="checkbox" name="is_ghit" <%= checked(is_ghit) %>> Is Greatest Hits  </label></div>
      <div class="form-group"><label> <input type="checkbox" name="is_limited" <%= checked(is_limited) %>> Is Limited Edtion  </label></div>
      <div class="form-group"><label> <input type="checkbox" name="is_broken" <%= checked(is_broken) %>> Is Broken  </label></div>
      <div class="form-group">
	<button type="submit" class="btn-default btn">
	  <i class="glyphicon glyphicon-floppy-disk"></i>
	  Save Changes
	</button>
	<button type="button" class="btn-cancel btn-default btn">
	  <i class="glyphicon glyphicon-remove"></i>
	  Cancel
	</button>
      </div>
    </form>
  </div>
</div>
