<%
function extras( options ) {
	var statusmap = {
		'has_case': '<span title="Has Case" class="glyphicon glyphicon-ok"></span>',
		'has_docs': '<span title="Has Docs" class="glyphicon glyphicon-book"></span>',
		'is_ghit': '<span title="Greatest hits edition" class="glyphicon glyphicon-star-empty"></span>',
		'is_limited': '<span title="Limited Edition!" class="glyphicon glyphicon-fire"></span>',
		'is_complete': '<span title="Is Compelte" class="glyphicon glyphicon-heart"></span>',
		'is_broken': '<span title="Is Broken" class="glyphicon glyphicon-remove"></span>'
	};
	var output = "";
	_.each( statusmap, function(value,key) {
		if( options[key] == 1 ) {
			output += statusmap[key];
		}
	});
	return output;
}

function showDate( release ) {
    if( release === "0000-00-00" ) {
	return "<i>No release date</i>";
    }
    return moment(release).format( app.config.dateFormat );
}

%>
<div class="col-sm-3"><%= name %></div>
<div class="col-sm-2"> <%= extras(obj) %> <%= showDate(release) %> </div>
<div class="col-sm-7">
	<button type="button" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-star"></span> Edit
	</button>
	<%= comment %>
</div>

