<div class="row">
  <div class="col-xs-12 col-sm-3">Name: </div>
  <div class="col-xs-12 col-sm-3"><input type="text" value="<%- name %>"> </div>
  <div class="col-xs-12 col-sm-3">Company: </div>
  <div class="col-xs-12 col-sm-3"><select><option>Sony</option><option>Nintendo</option></select> </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3">Release: </div>
  <div class="col-xs-12 col-sm-3"><input type="text" value="<%- release %>"> </div>
  <div class="col-xs-12 col-sm-3">Comments: </div>
  <div class="col-xs-12 col-sm-3"><input type="text" value="<%- comments %>"> </div>
</div>
