<%
function companyDropdown(selectedCompany) {
    var companyList = app.data.systems.pluck('company');
    companyList = _.unique(companyList);
    companyList = _.sortBy(companyList);
    var options = _.reduce(companyList, function(memo, company) {
	var extra = "";
	if( company == selectedCompany ) {
	    extra = " selected='selected'";
	}
	memo += "<option" + extra + ">" + company + "</option>";
	return memo;
    }, "");
    return "<select name='company' class='form-control'>" + options + "</select>";
}

%>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <form method="post" action="/system" class="form-edit-system" role="form">
      <div class="form-group">
	<label>Company
	  <%= companyDropdown(company) %>
	</label>
	<br>
	<label>Or, new company:
	  <input type="text" name="new_company" class="form-control">
	</label>
      </div>
      <div class="form-group">
	<label>System Name
	  <input type="text" name="name" class="form-control" value="<%- name %>">
	</label>
      </div>
      <div class="form-group">
	<label>Release
	  <input type="text" name="release" class="form-control" value="<%- release %>">
	</label>
      </div>
      <div class="form-group">
	<label for="comments">Comments</label>
	<textarea name="comments" class="form-control"><%- comments %></textarea>
      </div>
      <div class="form-group">
	<button type="submit" value="Edit System" class="btn btn-default">
	  <i class="glyphicon glyphicon-floppy-disk"></i> Save Changes
	</button>
      </div>
    </form>
  </div>
</div>
